<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/home.css" />
    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><img src="https://gomycode.com/tn/wp-content/uploads/sites/26/2023/07/Artboard-26-2.png" alt="" width="150"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/ourservices">Our services</a></li>
        <li><a href="/contactus">Contact us</a></li>
      </ul>
    </nav>
    <div class="home">

    </div>
    
  </body>
</html>